<!DOCTYPE html>
<html>
<head>
    <title>Список событий</title>
</head>
<body>
    <h1>Список событий</h1>
    <ul>
        {% for event in events %}
        <li>
            <h2>{{ event.name }}</h2>
            <p>Место: {{ event.location }}</p>
            <p>Описание: {{ event.description }}</p>
            <p>Организатор: {{ event.organizer }}</p>
            <p>Телефон: {{ event.contact_phone }}</p>
            <p>Статус: {{ event.status }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="/add">Добавить событие</a>
</body>
</html>